*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
}

body, h1, p, ul, h5 {
    margin: 0;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.row {
    display: flex;
    justify-content: center;
    column-gap: 13px;
    row-gap: 13px;
}

.card {
    gap: 10px;
}

.card-title {
    max-width: 227px;
    min-width: 240px;
}

.card-body {
    display: grid;
    row-gap: 10px;
}

.card-img-top {
    max-height: 320px;
    min-height: 320px;
    width: 260px;
}

th {
    text-align: center;
    vertical-align: middle;
}

.text-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

#persona {
    margin-bottom: 5px;
}

.navbar-index {
    position: fixed;
    top: 0;
    z-index: 400;
}

.alerta {
    font-weight: 900;
}

main {
    margin-top: 64px;
    overflow: hidden;
}

a {
    cursor: pointer;
}

body {
    overflow-x: hidden;
    width: 100%;
}

.modal-contenedor {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.modal-footer {
    justify-content: center;
}

.img-carrito {
    width: 200px;
    padding: 20px;
    object-fit: scale-down;
    /* max-height: 220px;
    min-height: 210px; */
}

.modal-content {
    background-color: #e7f0ec;
}

.parrafo {
    font-weight: 700;
    font-style: italic;
}

#activarFuncion {
    opacity: 0;
}