a {
    cursor: pointer;
}

body {
    overflow-x: hidden;
}

.modal-contenedor {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.img-carrito {
    width: 200px;
    padding: 20px;
    max-height: 220px;
    min-height: 210px;
}

.modal-content {
    background-color: #e7f0ec;
}

.parrafo {
    font-weight: 700;
    font-style: italic;
}